* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 0.1s; }

/* Header */
.navigation {
  margin: 0px;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.45); }

.menulist--styling {
  margin: 30px 8%;
  margin-bottom: 20px;
  list-style-type: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center; }

.menulist__item {
  font-size: 16px;
  font-weight: 700;
  padding: 10px 12px; }
  .menulist__item--logo {
    padding: 0px;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    margin-right: 40%; }

.navigation__link {
  text-decoration: none;
  color: #000;
  padding-top: 6px; }
  .navigation__link:hover {
    border-top: 3px solid #ff6033;
    cursor: pointer; }

#burger {
  display: none; }

.menulist__icon {
  display: block;
  position: fixed;
  top: 55px;
  right: 9%;
  width: 31px;
  height: 28px; }

.menucompact {
  position: absolute;
  top: 110px;
  height: 0;
  width: 100%;
  display: none;
  transition: all .5s linear;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.45);
  background-image: linear-gradient(90deg, transparent, lightgrey, lightblue); }
  .menucompact a {
    display: block;
    width: 100%;
    color: #fff;
    padding: 40px;
    text-decoration: none;
    font-size: 24px;
    border-top: 1px solid #b3b3b3; }

.logolarge {
  display: none; }

@media screen and (max-width: 1060px) {
  .navigation {
    background-color: rgba(255, 255, 255, 0.45);
    transition: 0.4s all;
    transition-timing-function: linear;
    height: 110px; }
    .navigation:hover {
      height: 185px;
      background-image: linear-gradient(180deg, transparent, lightgrey, lightblue); }
  .menulist__item {
    display: none; }
    .menulist__item--logo {
      display: none; }
  .logolarge {
    border: none;
    position: relative;
    margin: 0 auto;
    top: 5px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: red;
    background-color: #000;
    font-size: 38px;
    font-family: 'Pacifico', cursive;
    display: flex;
    align-items: center;
    justify-content: center; }
    .logolarge span {
      position: relative;
      bottom: 2px;
      right: 2px;
      transition: 0.5s all; }
    .logolarge:hover {
      background-color: #333333;
      cursor: pointer; }
    .logolarge:hover span {
      cursor: pointer;
      transform: rotateZ(360deg); }
  .menulist--styling {
    display: flex;
    justify-content: center;
    position: relative;
    top: 10px;
    right: 400px;
    width: 100%;
    margin: 0 auto;
    transition: .4s all;
    transition-timing-function: linear; }
  .logolarge:focus + .menulist--styling {
    right: 0px; }
    .logolarge:focus + .menulist--styling .menulist__item {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 13px;
      font-weight: 300;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      background-color: #000;
      margin: 0 1px;
      transition: border .35s linear, transform .2s linear;
      /*
            &:nth-child(2),&:nth-child(3),&:nth-child(4),&:nth-child(5),
            &:nth-child(6),&:nth-child(7){
            position: relative;
            transition: all .4s linear;
            }
            */
      /*
            &:nth-child(2){
                position: relative;
                left: 360px;
                transition-delay: .3s;
            }
            &:nth-child(3){
                position: relative;
                left: 360px;
            transition-delay: .25s;
            }
            &:nth-child(4){
                position: relative;
                left: 360px;
            transition-delay: .2s;
            }
            &:nth-child(5){
                position: relative;
                left: 360px;
            transition-delay: .15s;
            }
            &:nth-child(6){
                position: relative;
                left: 360px;
            transition-delay: .1s;
            }
            &:nth-child(7){
                position: relative;
                left: 360px;
            }
            */ }
      .logolarge:focus + .menulist--styling .menulist__item:hover {
        border-top: 3px solid green;
        border-left: 3px solid blue;
        border-right: 3px solid yellow;
        border-bottom: 3px solid red;
        transform: translateY(5px); }
      .logolarge:focus + .menulist--styling .menulist__item--logo {
        display: none; }
    .logolarge:focus + .menulist--styling .navigation__link {
      display: block;
      text-decoration: none;
      color: #fff;
      padding: 0; }
      .logolarge:focus + .menulist--styling .navigation__link:hover {
        border: none;
        cursor: pointer; }
      .logolarge:focus + .menulist--styling .navigation__link:active {
        text-decoration: line-through; } }

@media screen and (max-width: 525px) {
  .navigation {
    background-color: rgba(255, 255, 255, 0.45);
    transition: 0.5s all;
    transition-timing-function: linear; }
    .navigation:hover {
      height: 110px;
      background-image: linear-gradient(90deg, transparent, lightgrey, lightblue); }
  .menulist__icon {
    display: block;
    background-image: url(../web/image/hamburger.png);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 6px; }
    .menulist__icon::before {
      content: 'MENU';
      position: relative;
      right: 60px;
      top: 5px; }
    .menulist__icon:hover {
      cursor: pointer;
      box-shadow: 0px 0px 20px 8px orange; }
  .menulist--styling {
    display: none; }
    .menulist--styling .menulist__item {
      display: none; }
  #burger:checked ~ .menucompact {
    display: block;
    width: 100%;
    height: 66vh;
    transition: all .5s linear; }
    #burger:checked ~ .menucompact a:hover {
      cursor: pointer;
      box-shadow: inset 530px 0px 300px #525252; }
  .logolarge {
    display: none; } }

/* Fresh Life */
.FreshLife {
  background-image: url("../web/image/img_header/strawberry.jpg");
  background-size: cover;
  background-position: center;
  min-height: 1000px;
  font-family: 'Raleway', sans-serif;
  position: relative;
  margin-top: -50px; }
  .FreshLife .scroll {
    text-align: center;
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0; }

.FreshLife-block__title {
  margin-left: 11%;
  padding-top: 360px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: 900;
  max-width: 290px; }

.FreshLife-block__text {
  max-width: 375px;
  min-height: 75px;
  margin-left: 11%;
  margin-top: 31px;
  margin-bottom: 0;
  font-size: 17px;
  font-weight: 300; }

.FreshLife__button {
  width: 200px;
  height: 55px;
  background-color: #ff6033;
  border: transparent;
  color: #fff;
  margin-left: 11%;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 300;
  box-shadow: 0 2px 5px #2e2e2e;
  transition-duration: 0.7s; }
  .FreshLife__button:hover {
    cursor: pointer;
    transform: rotateX(360deg) skewX(-15deg);
    background-color: #008000;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px; }

/* About Us */
.AboutUs {
  background-image: url("../web/image/img_header/backgr-blue.png");
  background-size: cover;
  background-position: center;
  min-height: 700px;
  font-family: 'Raleway', sans-serif;
  color: #fff; }
  .AboutUs__flex {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-around;
    align-items: center; }
  .AboutUs-block {
    margin: 0 auto;
    max-width: 503px; }
    .AboutUs-block__title {
      margin: 0;
      font-size: 90px;
      font-weight: 700;
      max-width: 483px; }
    .AboutUs-block__text {
      font-size: 17px;
      font-weight: 300;
      max-width: 483px;
      padding: 20px 0; }
      .AboutUs-block__text--width {
        max-width: 503px;
        padding: 0; }
  .AboutUs__photo {
    max-width: 630px;
    min-width: 310px;
    margin: 0 auto;
    padding-top: 15px; }
    .AboutUs__photo img {
      width: 100%; }

/* Our Services */
.ourserv {
  min-height: 790px;
  background-color: #70bfff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-around;
  align-items: center;
  padding: 40px; }
  .ourserv__ul {
    max-width: 400px;
    min-height: 465px;
    list-style-type: none;
    margin: 0 auto;
    margin-top: 60px; }

.ourserv__li {
  background-color: #fff;
  margin-bottom: 20px;
  min-height: 50px;
  transition-duration: 0.4s; }
  .ourserv__li .ourserv__bgdiv {
    width: 75%;
    height: 100%;
    border-right: 1px solid #000;
    padding: 38px; }
    .ourserv__li .ourserv__bgdiv--padding {
      padding: 27px; }
    .ourserv__li .ourserv__bgdiv p {
      text-align: center;
      padding: 0; }
  .ourserv__li .ourserv__smdiv {
    width: 25%;
    height: 100%;
    float: right;
    text-align: center;
    padding-top: 23px; }
    .ourserv__li .ourserv__smdiv--padding {
      padding-top: 29px; }
  .ourserv__li:hover {
    transform: translateX(-15px);
    box-shadow: 3px 0px 1px rgba(194, 194, 194, 0.555), 8px 0px 1px rgba(116, 116, 116, 0.555), 13px 0px 0px #3f3f3f;
    cursor: pointer; }

.ourserv__title {
  background-image: url("../web/image/img_ourservices/tomato.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 610px;
  min-height: 300px;
  margin: 0 auto; }
  .ourserv__title .ourserv__title--h2 {
    font-size: 90px;
    color: #fff;
    margin-top: 37%; }

@media screen and (max-width: 640px) {
  .ourserv__title {
    width: 100%;
    height: 400px; }
    .ourserv__title .ourserv__title--h2 {
      font-size: 60px;
      text-align: center; } }

/* Gallery */
.gallery {
  min-height: 1530px;
  background-color: #ffe92f;
  font-family: "Raleway", sans-serif;
  text-align: center; }
  .gallery__title {
    min-height: 330px;
    color: #000;
    max-width: 580px;
    margin: 0 auto; }
    .gallery__title--title {
      font-size: 90px;
      font-weight: 700;
      padding-top: 100px;
      padding-bottom: 25px; }
    .gallery__title--text {
      font-size: 17px;
      font-weight: 300;
      width: 100%;
      min-width: 250px;
      margin: 0 auto; }
  .gallery button {
    width: 200px;
    height: 55px;
    background-color: #5585a2;
    color: #fff;
    border: transparent;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 50px;
    box-shadow: 0px 2px 7px #333333;
    transition-duration: 0.7s; }
    .gallery button:hover {
      transform: rotateX(360deg) skewX(-15deg);
      background-color: #1e2434;
      cursor: pointer;
      border-bottom-right-radius: 25px;
      border-top-left-radius: 25px; }

.gallery__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; }
  .gallery__container img {
    width: 100%; }
  .gallery__containertop {
    display: flex;
    flex-flow: inherit;
    justify-content: center; }
  .gallery__containerbottom {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .gallery__containerbottom div {
      margin: 10px; }

.gallery__containertop {
  display: flex;
  flex-flow: inherit;
  justify-content: center; }
  .gallery__containertop div {
    margin: 10px; }
  .gallery__containertop .gallery__containertop--small {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1; }

@media screen and (max-width: 1326px) {
  .gallery__containertop .gallery__containertop--small {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1; }
  .gallery__containerbottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .gallery__containerbottom img {
      width: 769px; } }

@media screen and (max-width: 920px) {
  .gallery__containertop img, .gallery__containerbottom img {
    width: 450px; } }

@media screen and (max-width: 520px) {
  .gallery__containertop img, .gallery__containerbottom img {
    width: 290px; }
  .gallery__title {
    min-height: 240px; }
    .gallery__title--title {
      padding-top: 50px;
      font-size: 60px; }
    .gallery__title--text {
      font-size: 14px;
      min-width: 300px; } }

/* Subscribe To Us */
.subscribe {
  min-height: 500px;
  background-image: url(../web/image/img_subscribe/subscribe.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Raleway", sans-serif;
  font-weight: 300; }

.subscribe__title {
  min-width: 115px;
  max-width: 550px;
  margin-left: 10%;
  margin-bottom: 15px;
  padding-top: 145px; }
  .subscribe__title h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 15px; }
  .subscribe__title p {
    font-size: 17px;
    min-height: 50px; }

.subscribe__form {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  margin-left: 10%;
  margin-right: 3%;
  padding-bottom: 60px; }
  .subscribe__form form {
    display: block;
    margin-right: 3%;
    width: 570px;
    min-width: 240px; }
    .subscribe__form form input {
      width: 100%;
      height: 55px;
      border: 1px solid #000;
      padding-left: 10px;
      margin-bottom: 15px;
      font-size: 15px;
      background-color: rgba(255, 255, 255, 0.9); }

.subscribe__form button {
  height: 55px;
  width: 170px;
  background-color: #96b92c;
  color: #fff;
  border: transparent;
  box-shadow: 0px 2px 8px #3a3a3a;
  font-size: 20px;
  transition-duration: 0.7s; }
  .subscribe__form button:hover {
    transform: rotateX(360deg) skewX(-15deg);
    background-color: #1e2434;
    cursor: pointer;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px; }

/* Blog */
.blog {
  margin: 0px auto;
  margin-bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: #b07cf7; }
  .blog__header--title {
    font-size: 90px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-align: center;
    padding-top: 100px;
    margin-top: 0px;
    margin-bottom: 30px; }
  .blog__header--text {
    display: block;
    max-width: 570px;
    min-width: 270px;
    height: 75px;
    max-height: 140px;
    margin: 0 auto;
    text-align: center;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    opacity: 0.9; }

.blog__main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 40px; }
  .blog__main .blog__image {
    position: relative;
    margin: 10px 15px;
    color: #ffffff;
    min-width: 290px; }
    .blog__main .blog__image:hover {
      cursor: pointer; }
      .blog__main .blog__image:hover .data {
        box-shadow: inset 0px 0px 50px 8px #f72b3b;
        color: #000; }
    .blog__main .blog__image img {
      width: 100%;
      box-shadow: 0 5px 10px 1px rgba(43, 43, 43, 0.616); }

.data {
  position: absolute;
  top: 6%;
  left: 6%;
  background-color: rgba(46, 46, 46, 0.603);
  width: 60px;
  height: 60px;
  border-radius: 5px;
  transition-duration: 0.1s; }
  .data .top {
    position: absolute;
    top: -1px;
    left: 13px;
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700; }
  .data .bottom {
    position: absolute;
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    font-weight: 900;
    top: 34px;
    left: 7px; }

.blog__image p {
  position: absolute;
  left: 6%;
  bottom: 17%;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: left; }

.blog__image .smalltext {
  position: absolute;
  left: 6%;
  bottom: 8%;
  opacity: 0.7;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300; }

@media screen and (max-width: 410px) {
  .blog__image p {
    font-size: 14px; }
    .blog__image p .smalltext {
      font-size: 10px; }
  .blog {
    margin: 0px auto;
    margin-bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: #b07cf7; }
    .blog__header--title {
      font-size: 60px;
      padding-top: 30px; }
    .blog__header--text {
      font-size: 14px; } }

.blog__button {
  background-color: #f72b3b;
  border: 1px solid #f72b3b;
  width: 200px;
  height: 55px;
  margin-top: 40px;
  margin-bottom: 120px;
  padding: 0;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  color: #fff;
  box-shadow: 0px 2px 5px rgba(43, 43, 43, 0.616); }
  .blog__button:hover {
    cursor: pointer;
    transform: scale(1.2);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px; }
  .blog__button:hover + .experimental {
    display: block;
    animation-name: move;
    animation-duration: 1s;
    animation-iteration-count: infinite; }
  .blog__button:focus + .experimental {
    display: block;
    transform: rotate(360deg);
    transition-duration: .9s;
    transition-timing-function: ease-in-out; }

.experimental {
  position: relative;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 60px solid red;
  display: none;
  margin-top: -80px;
  padding-bottom: 20px; }

@keyframes move {
  0% {
    top: 0px; }
  25% {
    top: 7px; }
  50% {
    top: 14px; }
  75% {
    top: 7px; }
  100% {
    top: 0px; } }

/* Footer */
.contact {
  background-image: url("../web/image/img_footer/img.jpg");
  background-size: cover;
  background-position: center;
  min-height: 866px; }
  .contact__title {
    text-align: center;
    padding-top: 100px;
    font-family: 'Raleway', sans-serif; }
    .contact__title--title {
      margin: 0 auto;
      font-size: 90px;
      font-weight: 700; }
    .contact__title--text {
      margin: 45px auto;
      margin-top: 35px;
      font-size: 17px;
      font-weight: 300;
      max-width: 350px;
      min-height: 45px; }

.contactflex {
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-around;
  align-items: baseline;
  width: 90%;
  margin: 0 auto; }

.contact__form {
  margin: 0;
  margin-top: 10px;
  margin-right: 25px;
  width: 100%;
  max-width: 500px;
  min-width: 250px; }

#contactform {
  width: 100%; }

.contact__list {
  list-style-type: none;
  margin-top: 0px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #fff; }
  .contact__list--item {
    padding-bottom: 15px; }
    .contact__list--item input {
      width: 100%;
      background-color: #00c4c45d;
      border: transparent;
      height: 50px;
      color: #fff;
      padding-left: 10px; }
      .contact__list--item input:hover {
        box-sizing: border-box;
        border-left: 4px solid #355b82;
        background-color: #00c4c4;
        font-weight: 700; }
      .contact__list--item input::placeholder {
        color: #fff; }
    .contact__list--item textarea {
      width: 100%;
      height: 250px;
      background-color: #00c4c45d;
      color: #fff;
      padding-left: 10px;
      resize: none; }
      .contact__list--item textarea:hover {
        box-sizing: border-box;
        border-left: 4px solid #355b82;
        background-color: #00c4c4;
        font-weight: 700; }
      .contact__list--item textarea::placeholder {
        color: #ffffff; }

.contact__button {
  width: 200px;
  height: 50px;
  background-color: #00c4c4;
  color: #fff;
  border: transparent;
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  margin-bottom: 60px; }
  .contact__button:hover {
    transform: translate(8px, 5px);
    text-shadow: 4px 4px 5px #262626;
    box-shadow: -4px -4px 15px #262626;
    cursor: pointer; }

.contact__contacts {
  font-family: 'Raleway', sans-serif;
  margin-left: 15px; }
  .contact__contacts p {
    margin: 0 auto;
    margin-bottom: 5px;
    font-size: 17px;
    font-weight: 700; }
  .contact__contacts h2 {
    margin: 0 auto;
    margin-bottom: 5px;
    font-size: 17px;
    font-weight: 700; }
  .contact__contacts p {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 300; }

footer {
  background-color: #262626;
  font-family: 'Raleway', sans-serif;
  color: #b9b9b9;
  min-height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  footer .footer__copy {
    font-size: 16px;
    font-weight: 300; }
  footer .footer__logo {
    font-family: 'Pacifico', cursive;
    font-size: 25px; }
  footer .footer__author {
    font-size: 15px;
    font-weight: 300; }
    footer .footer__author .red {
      color: red; }

@media screen and (max-width: 942px) {
  .contact__title--title {
    font-size: 65px; }
  .contact__form {
    margin-right: 0; }
  .contact__button {
    display: block;
    width: 145px;
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 60px; }
  footer {
    justify-content: space-around; }
    footer .footer__copy {
      font-size: 14px;
      width: 110px;
      margin-left: 10px; }
    footer .footer__logo {
      font-size: 24px;
      color: rgba(240, 0, 0, 0.9);
      margin-right: 10px; }
    footer .footer__author {
      display: none; } }

/*# sourceMappingURL=main.css.map */
